@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400&display=swap);
:root {
  --primary-color: rgb(4, 88, 243);
}
body {
  background: #0a2647;
  margin: 0;
  font-family: Poppins, sans-serif;
}
a {
  color: #444;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
section {
  padding: 4em 2em;
}
.nav-bar {
  background: #0a2647;
  padding: 1em;
  box-shadow: 5px 5px 10px rgb(0 0 0 / 20%);
}
.nav-bar .logo-nav {
  text-decoration: none;
  font-weight: 700;
  color: #000;
  font-size: 1.2em;
}
.nav-bar .logo-nav span {
  color: var(--primary-color);
}
.nav-bar nav {
  display: none;
}
.nav-bar .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  place-content: space-between;
}
.nav-bar .mobile-menu {
  cursor: pointer;
}
.hero {
  text-align: center;
}
.left-col .sub-head {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 3px;
  font-size: 1.2em;
  color: #6e6c6c;
}
.left-col h1 {
  color: #fff;
  text-transform: capitalize;
  font-size: 2.5em;
  font-weight: bolder;
  margin-top: 0.1em;
  line-height: 1.3em;
}
.primery-cta {
  background-color: var(--primary-color);
  color: #fff;
  text-decoration: none;
  padding: 0.6em 1.3em;
  font-size: 1.4em;
  border-radius: 5em;
  font-weight: 700;
  display: inline-block;
}
.watch-video-cta {
  display: block;
  margin-top: 1em;
}
.watch-video-cta img {
  display: line-block;
  margin-top: -0.5em;
  margin-right: 0.5em;
  vertical-align: middle;
  width: 2.5em;
}
.hero-img {
  width: 40%;
  margin-top: 3em;
}
.pricing-section {
  background: var(--primary-color);
  color: #fff;
}
.pricing-section h1 {
  color: #fff;
  text-transform: capitalize;
  font-size: 2.5em;
  font-weight: bolder;
  margin-top: 0.1em;
  line-height: 1.3em;
}
.pricing-section img {
  width: 50%;
  height: 30%;
  border: 5px solid #0067d6b9;
  border-radius: 5em;
  margin-top: -4.5em;
  background-size: cover;
}
.pricing-section li {
  background: #2083ee42;
  text-align: center;
  padding: 2em 1em;
  width: 80%;
  margin: 0 auto 5em;
  border-radius: 1em;
}
h2 {
  font-size: 13px;
  letter-spacing: 1px;
  font-weight: 700;
  padding: 8px 20px;
  margin-bottom: 1em;
  background: #e7f1fd;
  color: #106eea;
  display: inline-block;
  text-transform: uppercase;
  border-radius: 50px;
}
label {
  display: block;
  font-size: 1.2em;
  margin-bottom: 0.5em;
  color: #fff;
}
input,
textarea {
  width: 100%;
  padding: 0.8em;
  margin-bottom: 1em;
  border-radius: 0.3em;
  border: 1px solid #fff;
  color: #fff;
  box-sizing: border-box;
  background-color: #0a2647;
  font-family: Poppins, sans-serif;
}
input[type="submit"] {
  background-color: var(--primary-color);
  color: #fff;
  text-decoration: none;
  border-radius: 5em;
  font-weight: 700;
  display: inline-block;
  margin-bottom: 2em;
  padding: 0.8em 2em;
  cursor: pointer;
  font-family: Poppins, sans-serif;
}
iframe {
  width: 100%;
  height: 300px;
  border-radius: 2%;
}
nav.menu-btn {
  display: block;
  width: 30%;
  height: 55%;
  border-color: #20273f;
  border-style: solid;
  border-radius: 5%;
  background-color: #20273f;
}
nav {
  position: fixed;
  z-index: 999;
  width: 66%;
  right: 0;
  top: 0;
  background-color: #0a2647;
  height: 50vh;
  padding: 1em;
}
nav ul.primary-nav {
  margin-top: 4em;
}
nav li a {
  color: #fff;
  text-decoration: none;
  display: block;
  padding: 1em;
  text-align: right;
  -webkit-transition: font-weight 0.2s;
  transition: font-weight 0.2s;
}
nav li a:hover {
  font-weight: 700;
}
.mobile-menu-exit {
  display: block;
  float: right;
  margin: 0.5em;
  cursor: pointer;
}
@media only screen and (min-width: 768px) {
  .mobile-menu,
  .mobile-menu-exit {
    display: none;
  }
  .nav-bar .container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 180px auto;
    grid-template-columns: 180px auto;
    -webkit-box-pack: unset;
    -ms-flex-pack: unset;
    justify-content: unset;
  }
  .nav-bar nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    background: 0 0;
    position: unset;
    height: auto;
    width: 100%;
    padding: 0;
  }
  .nav-bar nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .nav-bar nav a {
    color: #fff;
    padding: 0.1em 1em;
    font-size: 1em;
  }
  .nav-bar ul.primary-nav {
    margin: 0;
  }
  .nav-bar li.current a {
    color: #fff;
    font-weight: 700;
  }
  .nav-bar li.go-premium-cta a {
    color: var(--primary-color);
    border: 3px solid var(--primary-color);
    border-radius: 5em;
    font-weight: 700;
    margin-top: -0.2em;
  }
  .nav-bar li.go-premium-cta a:hover {
    background-color: var(--primary-color);
    color: #fff;
  }
}
@media only screen and (min-width: 1023px) {
  .container {
    width: 1050px;
    margin: 0 auto;
  }
  section {
    padding: 5em 4em;
  }
  .hero .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    text-align: left;
  }
  .left-col {
    margin: 4em 3em 0 5em;
  }
  .left-col h1 {
    font-size: 3em;
    width: 90%;
  }
  .hero-img {
    width: 30%;
    margin-right: 8em;
  }
  .hero-cta {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .primery-cta {
    margin-right: 1em;
  }
  .service-section {
    position: relative;
  }
  .service-section img {
    display: block;
    position: absolute;
    right: 0;
    width: 350px;
    bottom: -2em;
    border-radius: 25%;
    padding: 10%;
  }
  .contact-section {
    position: relative;
  }
  .contact-section .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .contact-section .contact-right {
    position: absolute;
    right: 0;
    top: 0;
    width: 45%;
    height: 100%;
  }
  .contact-section iframe {
    height: 100%;
    margin-left: 5em;
  }
  .contact-left {
    padding: 0 1em;
    width: 55%;
    color: #fff;
  }
}
