<section id="contact" class="contact section-bg">
    <div class="container" data-aos="fade-up">

        <div class="section-title">
            <h2>Contact</h2>
            <p>Need a team of experts to help develop your product? Contact us now, and book a free consultation!</p>
        </div>

        <div class="row">
            <!-- <div class="col-lg-6">
          <div class="info-box mb-4">
            <i class="bx bx-map"></i>
            <h3>Our Address</h3>
            <p>A108 Adam Street, New York, NY 535022</p>
          </div>
        </div> -->

            <div class="col-lg-6 col-md-6">
                <div class="info-box  mb-4">
                    <i class="bx bx-envelope"></i>
                    <h3>Email Us</h3>
                    <p>connleofficialmail@gmail.com</p>
                </div>
            </div>

            <div class="col-lg-6 col-md-6">
                <div class="info-box  mb-4">
                    <i class="bx bx-phone-call"></i>
                    <h3>Call Us</h3>
                    <p>+91 96804 11907</p>
                </div>
            </div>

        </div>

        <div class="row">

            <!-- <div class="col-lg-6 ">
          <iframe class="mb-4 mb-lg-0"
            src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12097.433213460943!2d-74.0062269!3d40.7101282!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xb89d1fe6bc499443!2sDowntown+Conference+Center!5e0!3m2!1smk!2sbg!4v1539943755621"
            frameborder="0" style="border:0; width: 100%; height: 384px;" allowfullscreen></iframe>
        </div> -->

            <div class="col-lg-12">
                <form action="https://api.connle.com/api/contact" method="post" role="form" class="php-email-form"
                    id="contact-form">
                    <!-- <form action="http://localhost:5000/api/contact" method="post" role="form" class="php-email-form"
            id="contact-form"> -->
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <input type="text" name="name" class="form-control" id="name" placeholder="Your Name"
                                required>
                        </div>
                        <div class="col-md-6 form-group mt-3 mt-md-0">
                            <input type="email" class="form-control" name="email" id="email" placeholder="Your Email"
                                required>
                        </div>
                    </div>
                    <div class="form-group mt-3">
                        <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject"
                            required>
                    </div>
                    <div class="form-group mt-3">
                        <textarea class="form-control" name="message" rows="5" placeholder="Message"
                            required></textarea>
                    </div>
                    <div class="my-3">
                        <div class="loading">Sending your request</div>
                        <div class="error-message">We had a problem sending your request. Please try again later!</div>
                        <div class="sent-message">Your message has been sent. Someone from the Connle Team will get in
                            touch
                            with you shortly!</div>
                    </div>
                    <div class="text-center" id="submit-button"><button type="submit">Send
                            Message</button></div>
                </form>
            </div>

        </div>

    </div>
</section>
<script>
    document.getElementById('contact-form').addEventListener('submit', function (event) {
        event.preventDefault(); // Prevent the form from submitting and redirecting
        var form = document.getElementById('contact-form');
        var data = new FormData(form);
        // display the key/value pairs
        let body = {}
        for (var pair of data.entries()) {
            console.log(pair[0] + ', ' + pair[1]);
            body[pair[0]] = pair[1]
        }
        // console.log(data.entries())
        console.log(body)
        // use fetch to send the data to the server
        // set div with class 'loading' to visible
        document.querySelector('.loading').style.display = 'block';
        fetch(event.target.action, {
            method: 'POST',
            body: JSON.stringify(body),
            headers: {
                'Content-Type': 'application/json'
            }
        }).then(function (response) {
            console.log(response.ok)
            // if the response is ok, then set the div with class 'sent-message' to visible
            document.querySelector('.loading').style.display = 'none';
            if (response.ok) {
                document.querySelector('.error-message').style.display = 'none';
                document.querySelector('.sent-message').style.display = 'block';
                document.getElementById('submit-button').style.display = 'none';
                document.getElementById('contact-form').reset();
            } else {
                document.querySelector('.sent-message').style.display = 'none';
                document.querySelector('.error-message').style.display = 'block';
            }
        }).catch(function (error) {
            // if there is an error, then set the div with class 'error-message' to visible
            document.querySelector('.loading').style.display = 'none';
            document.querySelector('.error-message').style.display = 'block';
        });
    });

</script>