<footer id="footer">
    <div class="footer-top">
        <div class="container">
            <div class="row">

                <div class="col-lg-3 col-md-6 footer-contact">
                    <h3>Connle</h3>
                    <!-- <p>
              A108 Adam Street <br>
              New York, NY 535022<br>
              United States <br><br>
              <strong>Phone:</strong> +1 5589 55488 55<br>
              <strong>Email:</strong> info@example.com<br>
            </p> -->
                </div>

                <div class="col-lg-2 col-md-6 footer-links">
                    <h4>Useful Links</h4>
                    <ul>
                        <li><i class="bx bx-chevron-right"></i> <a href="#hero">Home</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#about">About us</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#services">Services</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="/terms-of-service.html">Terms of Service</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="/privacy-policy.html">Privacy Policy</a></li>
                    </ul>
                </div>

                <div class="col-lg-3 col-md-6 footer-links">
                    <h4>Our Services</h4>
                    <ul>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">App Development</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Web Development</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">UI/UX</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Graphic Design</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">API Development</a></li>
                    </ul>
                </div>

                <div class="col-lg-4 col-md-6 footer-newsletter">
                    <h4>Join Our Newsletter</h4>
                    <p>Stay Connected!</p>
                    <form action="" method="post">
                        <input type="email" name="email" title="Email" /><input type="submit" value="Subscribe" />
                    </form>
                </div>

            </div>
        </div>
    </div>

    <div class="container">

        <div class="copyright-wrap d-md-flex py-4">
            <div class="me-md-auto text-center text-md-start">
                <div class="copyright">
                    &copy; <strong><span>Connle - 2023</span></strong>. All Rights Reserved
                </div>
                <div style="font-size: x-small; color: gray;">
                    Template by BootstrapMade
                </div>
            </div>
            <div class="social-links text-center text-md-right pt-3 pt-md-0">
                <!-- TODO: [CW-38] Add Social Links -->
                <!-- <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a> -->
                <!-- <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a> -->
                <a href="https://www.instagram.com/c.nnle/" class="instagram" title="Instagram"><i
                        class="bx bxl-instagram"></i></a>
                <!-- <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a> -->
                <a href="https://www.linkedin.com/company/connle" class="linkedin" title="LinkedIn"><i
                        class="bx bxl-linkedin"></i></a>
            </div>
        </div>
    </div>
</footer>